
<nav class="navbar navbar-expand-lg navbar-light shadow mb-4 w-100 animated-navbar fixed-top" style="border-radius: 1rem;">
  <div class="container-fluid justify-content-between align-items-center d-flex w-100">
    <!-- <a class="navbar-brand d-flex align-items-center p-0 m-0" href="#">
      <img src="../../../assets/image/Logo.jpg" alt="SBI Life" class="logo-img">
    </a> -->
    <div class=" flex-grow-1">
      <span class="navbar-text fw-bold title-text">TO DO APPLICATION</span>
    </div>
    <div class="d-flex align-items-center">
      <button class="btn btn-outline-primary me-2" routerLink="/login">Login</button>
      <button class="btn btn-primary" routerLink="/register">Register</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
