.logo-img {
  max-width: 120px;
  max-height: 40px;
}
.title-text {
  font-size: 2.2rem;
  font-weight: 600;
  color: #0d6efd;
}
.btn {
  min-width: 100px;
}
.flex-grow-1{
  margin-left: 20px;
}
.navbar {
  border-radius: 1rem;
  margin-bottom: 2rem;
  height: 80px;
}
.navbar-brand img {
  max-height: 40px;
  max-width: 120px;
}
.mx-auto img {
  max-height: 40px;
  max-width: 220px;
 
}
@media (max-width: 767px) {
  .title-text {
    font-size: 1.3rem;
  }
}
/* .animated-navbar {
  background: linear-gradient(270deg, #ff9966, #ff5e62, #f9d423, #ff4e50);
  background-size: 800% 800%;
  animation: gradientBG 10s ease infinite;
}
@keyframes gradientBG {
  0% {background-position:0% 50%}
  50% {background-position:100% 50%}
  100% {background-position:0% 50%}
} */

